:root {
  /** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

--clr-primary-a0: #8f4e69;
--clr-primary-a10: #8e546c;
--clr-primary-a20: #8d5a6e;
--clr-primary-a30: #8c6071;
--clr-primary-a40: #8a6573;
--clr-primary-a50: #886b76;

/** Light theme surface colors */
--clr-surface-a0: #ffffff;
--clr-surface-a10: #f0f0f0;
--clr-surface-a20: #e1e1e1;
--clr-surface-a30: #d3d3d3;
--clr-surface-a40: #c5c5c5;
--clr-surface-a50: #b6b6b6;

/** Light theme tonal surface colors */
--clr-surface-tonal-a0: #f4ecef;
--clr-surface-tonal-a10: #e6dfe2;
--clr-surface-tonal-a20: #d9d3d5;
--clr-surface-tonal-a30: #ccc7c9;
--clr-surface-tonal-a40: #bfbbbc;
--clr-surface-tonal-a50: #b2afb0;

}

:root:has(#theme:checked) {

--clr-primary-a0: #8f4e69;
--clr-primary-a10: #9c6178;
--clr-primary-a20: #a97488;
--clr-primary-a30: #b58798;
--clr-primary-a40: #c29aa9;
--clr-primary-a50: #ceaeb9;

/** Dark theme surface colors */
--clr-surface-a0: #121212;
--clr-surface-a10: #282828;
--clr-surface-a20: #3f3f3f;
--clr-surface-a30: #575757;
--clr-surface-a40: #717171;
--clr-surface-a50: #8b8b8b;

/** Dark theme tonal surface colors */
--clr-surface-tonal-a0: #1e181a;
--clr-surface-tonal-a10: #332d2f;
--clr-surface-tonal-a20: #494445;
--clr-surface-tonal-a30: #605b5d;
--clr-surface-tonal-a40: #797576;
--clr-surface-tonal-a50: #928f90;

}

.checkbox-wrapper {
  --size: 50px;
  margin: 20px;
}

.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: var(--size);
  height: calc(var(--size) / 2);
  background-color: #fff;
  border: 3px solid #222;
  border-radius: 30px 100px 100px 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  outline: none;  
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.checkbox-wrapper input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border: 3px solid #222;
  border-radius: 30px 100px 100px 100px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: all 0.5s;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: #222;  
  border-radius: 100px 100px 30px 100px;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  left: 50%;
  background-color: #fff;
  border-radius: 100px 100px 30px 100px;
}

body {
  background-color: var(--clr-surface-a0);
  color: #121212;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

:root:has(#theme:checked) body {
  color: #fff;
}

:root:has(#theme:checked) img {
 filter: brightness(100);
}

:root:has(#theme:checked) .logo {
  filter: none;
 }

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 10px;
}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search input[type="search"]{
  width: 500px;
  border: none;
  border-radius: 15px 0 0 15px;
  padding: 10px;
  font-size: 1.4rem;
  background-color: var(--clr-surface-a10);
  color: var(--clr-primary-a0);
}

@media (max-width: 600px) {
  .search input[type="search"]{
    width: 200px;
  }
}

.search input[type="button"]{
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  font-size: 1.4rem;
  background-color: var(--clr-surface-a10);
  color: var(--clr-primary-a0);
  cursor: pointer;
}

.search input[type="button"]:hover{
  background-color: var(--clr-primary-a0);
  color: var(--clr-surface-a10);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  height: 500px;

}

.info-1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.current-temp{
  font-size: 5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.info-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin: auto;
  
}

.info-group{
  font-weight: bold;
  font-size: 2.5rem;
}

@media (max-width: 900px) {
    .info-group{
      font-size: 1.5rem;
    }
}

h1{
  font-size: 2rem;
  margin: 2rem;

}

.days-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin: 2rem;
}

.day-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: var(--clr-surface-a10);
  padding: 30px;
  font-weight: bold;
  font-size: 1.5rem;
}

.hour-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: var(--clr-surface-a10);
}

.hour-row:nth-child(even){
  background-color: var(--clr-surface-a0);
}

.hour-info-group{
  font-weight: bold;
  font-size: 2.5rem;
}

@media (max-width: 900px) {
    .hour-info-group{
      font-size: 1rem;
    }
}

.blurred {
  filter: blur(2px);
}



